@font-face {
    font-family: lato-regular;
    src: url('../fonts/lato/Lato-Regular.ttf');
}

@font-face {
    font-family: lato-bold;
    src: url('../fonts/lato/Lato-Bold.ttf');
}

@font-face {
    font-family: calorie;
    src: url('../fonts/calorie/Calorie\ Demo.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    position: relative;
}

:root {
    --dark-blue: #013366;
    --mustard: #D0A135;
    --grey: #333333;
    --white: #fff;
    --red: #FF0000;
    --light-grey: #9A99A0;
    --bg-color: #F2F8FF;
    --lato-regular: lato-regular;
    --lato-bold: lato-bold;
    --calorie: calorie;
}

h1 {
    font-family: var(--lato-regular);
    font-size: 5.6rem;
    line-height: 6.6rem;
}

h2 {
    font-family: var(--lato-regular);
    font-size: 4rem;
}

h3 {
    font-family: var(--lato-regular);
    font-size: 2.4rem;
}

p {
    font-family: var(--lato-regular);
    font-size: 1.8rem;
}

img {
    width: 100%;
}

.btn-primary {
    font-size: 18px;
    font-family: var(--lato-bold);
    padding: 19px 39px;
    background: var(--mustard);
    color: var(--white);
    border: 1px solid var(--mustard);
    border-radius: 30px;
    text-decoration: none;
}

.btn-primary:hover {
    background: var(--white);
    color: var(--mustard);
    border: 1px solid var(--mustard);
}

.chng-font-family {
    font-family: var(--calorie);
}

.container {
    width: 100%;
    max-width: 1660px;
    margin: auto;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 0;
}

.banner {
    padding: 130px 0px 0px 0px;
    background: url('../images/banner.png');
    background-position: center;
    background-size: cover;
}

.banner .container {
    display: flex;
    align-items: center;
}

.banner .container .banner-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
}

.banner .container .banner-img {
    width: 50%;
    text-align: center;
}

.banner .container .banner-info h1 {
    color: var(--dark-blue);
    width: 90%;
}

.banner .container .banner-info h1 .chng-font-size {
    font-size: 11.6rem;
    color: var(--mustard);
    font-weight: 400;
}

.header .logo {
    width: 15%;
}

.banner .container .banner-img img {
    width: 600px;
}

.banner .container .banner-info .banner-txt {
    font-size: 2.4rem;
    line-height: 3.6rem;
}

.banner .container .banner-info .banner-txt {
    font-size: 2.4rem;
    padding-top: 12px;
    line-height: 3.6rem;
    padding-bottom: 40px;
}


.banner .container .banner-info ul li {
    font-size: 1.8rem;
    font-family: var(--lato-regular);
    font-weight: 500;
    color: var(--red);
}

.why-choose-us {
    padding: 125px 0;
}

.why-choose-us .container {
    display: flex;
    gap: 85px;
    align-items: center;
}

.why-choose-us .why-choose-us-info h2 {
    color: var(--dark-blue);
    text-align: center;
    width: 100%;
    margin: auto;
    font-weight: 500;
    padding-bottom: 40px;
}

.why-choose-us-info .why-choose-us-info-boxes {
    display: flex;
    gap: 30px;
}

.why-choose-us-info .why-choose-us-info-boxes .why-choose-us-info-box {
    box-shadow: 0px 4px 30px rgb(0 0 0 / 10%);
    padding: 36px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 50%;
}

.why-choose-us-info .why-choose-us-info-boxes .why-choose-us-info-box .why-choose-us-info-box-img {
    width: 150px;
    margin: auto;
}

.why-choose-us-info .why-choose-us-info-boxes .why-choose-us-info-box .why-choose-us-info-box-info {
    text-align: center;
}

.why-choose-us-info .why-choose-us-info-boxes .why-choose-us-info-box .why-choose-us-info-box-info h4 {
    font-size: 2rem;
    font-family: var(--lato-regular);
    color: var(--grey);
    font-weight: 500;
    padding-bottom: 16px;
}

.why-choose-us-info .why-choose-us-info-boxes .why-choose-us-info-box .why-choose-us-info-box-info p {
    font-size: 2rem;
    font-family: var(--lato-regular);
    color: var(--light-grey);
    font-weight: 500;
    padding-bottom: 16px;
}

.why-choose-us .why-choose-us-img {
    width: 50%;
}

.why-choose-us .why-choose-us-info {
    width: 50%;
}

.after-boxes {
    padding-top: 30px;
}

/* BEFORE & AFTER SMILE CSS */
.before-after-smile h2 {
    color: var(--dark-blue);
}

.before-after-smile h2 {
    text-align: center;
    font-weight: 500;
}

.before-after-smile h2 span {
    text-align: center;
    font-weight: 500;
}

.before-after-smile h2 span {
    font-size: 7.6rem;
    color: var(--mustard);
}

.special-offer-sec .container {
    display: flex;
    align-items: center;

}

.special-offer-sec .special-offer-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 56px;
}

.special-offer-sec .special-offer-img {
    width: 50%;
}

.special-offer-sec .special-offer-info h2 {
    width: 60%;
    color: var(--dark-blue);
    font-weight: 400;
}

.special-offer-sec .special-offer-info .list h5 {
    font-size: 2.4rem;
    font-family: var(--lato-regular);
    color: var(--grey);
    font-weight: 500;
}

.special-offer-sec .special-offer-info h2 {
    width: 60%;
}

.special-offer-sec .special-offer-info .list {
    display: flex;
    flex-direction: column;
    gap: 26px;
}
.special-offer-sec .special-offer-info .list li {
    font-size: 2.4rem;
    font-family: var(--lato-regular);
    color: var(--light-grey);
}
.special-offer-sec .special-offer-info .list ul {
    width: 60%;
}
section.special-offer-sec {
    padding-bottom: 125px;
}
.video-testimonial {
    padding: 125px 0px;
    background: var(--bg-color);
}
.video-testimonial h2 {
    text-align: center;
    color: var(--dark-blue);
    font-family: var(--lato-regular);
    font-weight: 500;
}
.how-it-work {
    padding: 125px 0px;
}
.how-it-work .container {
    padding: 125px 0px;
    border-bottom: 1px solid rgb(0 0 0 / 10%);
}
.how-it-work h2 {
    text-align: center;
    color: var(--dark-blue);
    font-weight: 500;
}

.how-it-work h2 span{
    font-size: 7.6rem;
    color: var(--mustard);
    font-weight: 400;
}
.rounded-boxes {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.rounded-box {
    background: #fafafa;
    border-radius: 50%;
    width: 363px;
    display: flex;
    height: 363px;
    gap: 30px;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin: 10px;
}

.box-one {
    position: relative;
    padding: 16px;
}
.box-one::before{
    content: '';
    position: absolute;
    background: url(../images/top-line.png);
    background-position: top;
    background-size: contain;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box-two {
    position: relative;
    padding: 16px;
}
.box-two::before{
    content: '';
    position: absolute;
    background: url(../images/bottom-line.png);
    background-position: bottom;
    background-size: contain;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rounded-box .rounded-box-num p {
    background: var(--dark-blue);
    position: absolute;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    top: 100%;
    left: 50%;
    color: var(--white);
}

.rounded-boxes .rounded-box-img img {
    width: 70px;
}

.rounded-boxes .rounded-box-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 70%;
}

.rounded-boxes .rounded-box-info h4 {
    font-size: 2.4rem;
    font-family: var(--lato-regular);
    font-weight: 400;
    color: var(--grey);
}
.rounded-boxes .rounded-box-info p {
    font-size: 1.8rem;
    color: var(--light-grey);
}
.rounded-box .rounded-box-img {
    padding-top: 20px;
}
.box-two .rounded-box-num p {
    top: 0;
}
.ready-to-start {
    padding: 0px 0px 0px 0px;
}
.ready-to-start .container {
    display: flex;
    align-items: center;
}
.ready-to-start .ready-to-start-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 46px;
    width: 50%;
}

.ready-to-start .container .ready-to-start-img {
    width: 50%;
    text-align: right;
}
.ready-to-start .ready-to-start-info h1 {
    color: var(--dark-blue);
    font-weight: 400;
    font-size: 5.6rem;
    width: 50%;
}
.ready-to-start .ready-to-start-info h1 span {
    font-size: 7.6rem;
    color: var(--mustard);
    font-weight: 500;
}
.ready-to-start .container .ready-to-start-img img {
    width: 90%;
}

.testimonials-section {
    padding: 125px 0px;
    background: var(--bg-color);
}
.testimonials-section h2 {
    text-align: center;
    color: var(--dark-blue);
    font-weight: 400;
}
.testimonials {
    display: flex;
    gap: 30px;
    padding-top: 56px;
}

.testimonials .testimonial {
    background: var(--white);
    padding: 36px;
    border-radius: 20px;
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 6%);
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.testimonials .testimonial .avatar-title {
    display: flex;
    align-items: center;
    gap: 26px;
}

.testimonials .testimonial .avatar-title h5 {
    font-size: 2rem;
    font-family: var(--lato-regular);
    font-weight: 500;
    color: var(--grey);
}
.testimonials .testimonial p {
    font-size: 1.8rem;
    font-family: var(--lato-regular);
    font-weight: 400;
    color: var(--light-grey);
    line-height: 25.92px;
    letter-spacing: -0.48px;
}
.testimonials .testimonial .testimonial-img img {
    width: 50%;
}
.proud-sec {
    padding-top: 56px;
    text-align: center;
}
.proud-sec h3 {
    text-transform: uppercase;
    color: var(--light-grey);
    font-size: 2.6rem;
    font-weight: 400;
}
marquee img {
    width: 170px;
    margin: 0 40px;
}
.logos {
    padding-top: 35px;
}
.contact-sec {
    padding: 125px 0px;
    background: url('./../images/form-banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-sec h2 {
    color: var(--dark-blue);
    text-align: center;
    width: 40%;
    margin: auto;
    font-weight: 500;
}
.contact-sec .image-form {
    display: flex;
    gap: 56px;
    padding-top: 56px;
}
.contact-sec .image-form .contact-sec-form {
    width: 50%;
    padding-left: 86px;
}

.contact-sec .image-form .contact-sec-img {
    width: 50%;
}
.contact-sec .image-form .contact-sec-form input {
    width: 100%;
}

.contact-form input {
    background: transparent;
    border: none;
    height: 70px;
    border-bottom: 1px solid rgb(6 27 51 / 10%);
    font-size: 18px;
    padding: 0 20px;
}
.contact-form input:focus{
    box-shadow: none;
    outline: none;
}
.contact-form select:focus{
    box-shadow: none;
    outline: none;
}
.contact-form select {
    background: transparent;
    border: none;
    height: 70px;
    border-bottom: 1px solid rgb(6 27 51 / 10%);
    width: 100%;
    font-size: 18px;
    padding: 0 20px;
}
.contact-sec .image-form .contact-sec-form .contact-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contact-sec .image-form .contact-sec-form .contact-form button {
    padding: 26px;
    border-radius: 60px;
    font-size: 22px;
}
.footer {
    padding: 125px 0px;
}
.footer .container {
    display: flex;
    gap: 100px;
}

.footer .container .footer-column {
    width: 25%;
}
.footer .container .footer-column .f-logo img {
    width: 65%;
}

.footer .container .footer-column .f-logo p {
    font-size: 1.8rem;
    color: var(--grey);
}
.footer .container .footer-column .f-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}
.footer .f-logo .chng-color {
    background: var(--dark-blue);
    border-color: var(--dark-blue);
    padding: 12px 22px;

}
.footer .footer-column h4 {
    color: var(--dark-blue);
    font-size: 22px;
    font-family: var(--lato-bold);
}
.footer .f-logo .chng-color span {
    font-size: 3.6rem;
    color: var(--mustard);
    font-weight: 500;
    font-family: var(--calorie);
    line-height: 0;
    padding: 0px 6px;
}
.footer .footer-column ul {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.footer .footer-column .menus {
    display: flex;
    gap: 20px;
    padding-top: 22px;
}
.footer .footer-column .menu li {
    font-size: 1.8rem;
    font-family: var(--lato-regular);

}
.footer .footer-column .email-box {
    padding-top: 20px;
    display: flex;
    align-items: flex-end;
    gap: 8px;
}

.footer .container .footer-column i {
    color: var(--dark-blue);
    font-size: 2rem;
}

.footer .footer-column .email-box a {
    font-size: 2rem;
    text-decoration: none;
    font-family: var(--lato-regular);
    color: var(--dark-blue);
}
.footer .footer-column .logos {
    display: flex;
    gap: 20px;
    padding-top: 18px;
    flex-wrap: wrap;
}

.footer .footer-column .logos img {
    width: 35%;
}

.footer .footer-column .social-icons {
    padding-top: 20px;
    display: flex;
    gap: 20px;
}

.footer .footer-column .social-icons i {
    font-size: 28px;
}
.video-testimonial .videos-container {
    padding-top: 56px;
    display: flex;
    gap: 30px;
}
.video-testimonial .videos-container-two {
    padding-top: 20px;
    display: flex;
    gap: 30px;
}
.video-container {
    position: relative;
    height: 412px;
    padding: 7px;
    background: #fff;
    border-radius: 10px;
}

.video {
    width: 100%;
    border-radius: 10px;
    height: 390px;
    object-fit: cover;
}

.thumbnail,
.play-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 6px;
    border-radius: 10px;
}

.thumbnail {
    object-fit: cover;
}

.play-button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    justify-content: start;
    padding: 16px;
    z-index: 9999;
}

.play-button img {
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 50%;
}

.video-testimonial .logos-flex {
    display: flex;
    background: #f9fbff;
    padding: 20px;
    margin-top: 56px;
    border-radius: 26px;
    gap: 156px;
    justify-content: flex-end;
}

.video-testimonial .logos-flex img {
    width: 100px;
}
.accordion {
    background-color: #fff;
    color: #333;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #fff;
  }
  
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: left;
    margin-left: 0px;
    background: var(--dark-blue);
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 26px;
    order: 1;
    position: absolute;
    left: 0;
    border-radius: 50%;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .faq-sec .container {
    display: flex;
    align-items: center;
}

.faq-sec .faq-sec-info {
    width: 50%;
}

.faq-sec  .faq-sec-accordian {
    width: 50%;
}
.faq-sec .faq-sec-info h2{
    color: var(--dark-blue);
    font-weight: 500;
    width: 60%;
}
.faq-sec {
    padding: 125px 0px;
}

.accordians-faq .accordian-faq {
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.accordians-faq .accordian-faq .accordion {
    font-size: 1.8rem;
    font-weight: 700;
    font-family: var(--lato-regular);
    padding: 0 70px;
    display: flex;
    position: relative;
    align-items: center;
}
.panel p {
    padding: 20px 70px !important;
}
.special-offer-sec .special-offer-info .countdown-timer {
    display: flex;
    gap: 16px;
}

.special-offer-sec .special-offer-info .countdown-timer .count-time {
    padding: 34px;
    border: 1px solid;
    font-size: 6.6rem;
    font-family: var(--lato-regular);
    line-height: 36px;
    text-align: center;
    border-radius: 18px;
    width: 160px;
    height: 150px;
    display: flex;
    flex-direction: column;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(190deg, rgba(1,51,102,1) 0%, rgba(255,255,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}

.special-offer-sec .special-offer-info .countdown-timer .count-time span{
    font-size: 1.6rem;
    font-family: var(--lato-regular);
    padding-top: 20px;
}

/* SLIDE GALLERY ONE */

.slide-img-one {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .image-container-one {
    display: flex;
    margin-top: 10px;
    height: 700px;
    width: 1015px;
    background-color: transparent;
  }
  
  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    position: absolute;
    width: inherit;
    padding: 0px;
    margin-top: 360px;
    z-index: 100;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    margin-top: -10px;
    background-color: white;
    cursor: grab;
    height: 1.1rem;
    width: 1.1rem;
  }
  
  input[type="range"]::-webkit-slider-thumb:active {
    background-color: rgb(231, 227, 227);
    cursor: grabbing;
  }
  
  .image-before-one {
    position: absolute;
    padding: 0;
    margin-left: 8.5px;
    background-image: url("https://cdn.pixabay.com/photo/2023/08/16/23/47/annas-hummingbird-8195150_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 0px 9px 1px #fffefe11;
    height: inherit;
    width: 1000px;
    z-index: 10;
    border-right: solid 0.5px rgba(255, 255, 255, 0.425);
  }
  
  .image-after-one {
    position: absolute;
    margin-left: 8.5px;
    background-image: url("https://cdn.pixabay.com/photo/2016/11/23/18/27/hummingbird-1854225_640.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
    width: 1000px;
  }

  
  .before-after-smile {
    height: 1000px;
}

.before-after-smile .image-slides {
    display: flex;
}